<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restindo</title>
    <meta name="description" content="Temukan Rekomendasi Restaurant Terbaik Di Indonesia">
    <meta name="theme-color" content="#06681fd2"/>
    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="app.webmanifest">
    <link href="https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
    <a href="#mainContent" class="skip-link">Skip to Content</a>
    <header class="app-bar">
        <div class="app-bar_menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar_brand">
            <h1><a href="#/">Restindo</a></h1>
        </div>
        <nav id="navigationDrawer" class="app-bar_navigation">
            <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/m-alan-nur-ilkhan-7ba568252/">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="hero_inner">
            <h1 class="hero_title">Temukan Rekomendasi Restaurant Terbaik Di Indonesia</h1>
            <p class="hero_tagline">Restindo adalah website yang membantu anda dalam menemukan
                restaurant di Indonesia</p>
        </div>
    </div>
    <main id="mainContent" tabindex="0">
    </main>
    <footer>
        <p>Copyright Restindo 2022</p>
    </footer>
</body>

</html>